.navBar {
    position: fixed;
    top:0.25em;
    left:0.25em;
    width: calc(100% - .5em);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.25em 0.5em;

    background: var(--back-1);

    border-radius: var(--radius-3);
    border: solid var(--border-1) 1px;
    backdrop-filter: blur(8px);

    z-index: 10;
}