.menu {
    position: fixed;
    top: 3em;
    right: .5em;
    background-color: var(--control-back-1);
    border-radius: 8px;
    gap: 2px;
    display: flex;
    flex-direction: column;

    & > a {
        padding: 8px 16px;
        border-radius: 8px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: var(--control-back-2);
        }
    }
}