.navBar {
    display: flex;
    justify-content: flex-end;
    padding: 0.25em 2em;
    gap: 0.25em;
    
    & > a {
        padding: 0.5em 1em;
        border-radius: 100px;
        transition: background-color 0.15s ease-in-out;


        &:hover {
            background-color: var(--control-back-1);
        }
    }
}

.highlightNav {
    position: relative;
}
.highlightNav::after {
    position: absolute;
    content:"";
    bottom:-.25em;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background-color: var(--accent-1);
}