.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
} 